﻿@namespace shad.games.waterblue.front.components

<div
    @onclick="() => this.OnEntryClick(this.Monster.Monster.id)"
    class=@($"d-flex flex-row {this.SwapModalEntryClass}")
>
    <div class="swapmodalentry_icon" style=@($"background-image: url({this.MonsterIconPath});") />
    <div class="d-flex flex-column">
        <div class="progress swapmodalentry_healthbar">
            <div class="progress-bar bg-success" style=@($"width: {this.MonsterHealthPercent}%;") />
        </div>
        <div class="d-flex flex-row">
            @for (byte i = 0; i < 4; i++)
            {
                @if (i < this.Moves.Count)
                {
                    var index = i;
                    <img 
                        alt=@(this.Moves[i].Name) 
                        class="swapmodalentry_move"
                        src=@(this.Moves[i].Path)
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title=@(this.Moves[i].Name)
                    />
                }
                else
                {
                    <div class="swapmodalentry_move" />
                }
            }
        </div>
    </div>
</div>
