﻿.swapmodalentry {
    background-color: black;
    border: 4px solid black;
    margin-top: 2px;
}

.swapmodalentry-unselectable {
    opacity: 0.8; 
}

.swapmodalentry-selectable {
    cursor: pointer;
}

.swapmodalentry-selectable:hover {
    border: 4px solid green;
}

.swapmodalentry_healthbar {
    background-color: #111;
    margin-left: 4px;
    width: 140px;
    height: 100%;
}

.swapmodalentry_move {
    margin-top: 4px;
    margin-left: 4px;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #111;
}

.swapmodalentry_icon {
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
