﻿@namespace shad.games.waterblue.front.components


@* process event queue *@
@if (!this.IsEventBeingProcessed && this.EventQueue.Any())
{
    var _ = this.ProcessEvent();
}

<div class=@(this.HpBarDivClass)>
    <Healthbar Monster="this.MonsterViewModel" />
</div>

<div class=@(this.FieldMonsterDivClass)>
    <div 
        class=@(this.MonsterSpriteDivClass)
        @onclick="() => this.OnMonsterSelection(this.MonsterViewModel.Monster.id)"
    >
        @* TODO convert gif to video for much lighter size and more control, see https://www.smashingmagazine.com/2018/11/gif-to-video/ *@
        <img src=@(this.MonsterSpriteImgSrc) class="@(this.MonsterSpriteImgClass)" />
    </div>
</div>
