﻿.monstersprite {
    transform: scale(1.5);
}

.monstersprite_pal:hover {
    filter: drop-shadow(0px 0px 2px rgba(0, 255, 0, 1));
}

.monstersprite_foe:hover {
    filter: drop-shadow(0px 0px 2px rgba(255, 0, 0, 1));
}

/* Battlefield monster */

.bf_monster-unselectable {
    opacity: 0.5;
}

.bf_monster_pal_left {
    position: absolute;
    transform: translate(-50%, 50%);
    left: var(--monsterbotleft_x);
    bottom: var(--monsterbotleft_y);
}

.bf_monster_pal_right {
    position: absolute;
    transform: translate(-50%, 50%);
    left: var(--monsterbotright_x);
    bottom: var(--monsterbotright_y);
}

.bf_monster_foe_left {
    position: absolute;
    transform: translate(-50%, 50%);
    left: var(--monstertopleft_x);
    bottom: var(--monstertopleft_y);
}

.bf_monster_foe_right {
    position: absolute;
    transform: translate(-50%, 50%);
    left: var(--monstertopright_x);
    bottom: var(--monstertopright_y);
}

/* Health bars */

.bf_hpbar_foe_left {
    position: absolute;
    transform: translate(-50%, 50%);
    left: var(--monstertopleft_x);
    bottom: calc(var(--monstertopleft_y) + 150px);
}

.bf_hpbar_foe_right {
    position: absolute;
    transform: translate(-50%, 50%);
    left: var(--monstertopright_x);
    bottom: calc(var(--monstertopright_y) + 150px);
}
