﻿@namespace shad.games.waterblue.front.components

<div class=@(this.MonsterBarWrapperClass)>
    <div class="monsterbar d-flex flex-row">
        <div class="monsterbar_icon" style=@($"background-image: url({this.MonsterIconPath});") />
        <div class="d-flex flex-column">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column">
                    <div class="progress monsterbar_healthbar d-flex flex-grow-1">
                        <div class="progress-bar bg-success" style=@($"width: {this.MonsterHealthPercent}%;") />
                    </div>
                    <div class="progress monsterbar_experiencebar">
                        <div class="progress-bar bg-danger" style=@($"width: {Math.Min((ushort)100, this.Monster.monster.species.number / 2)}%;") />
                    </div>
                </div>
                <div class="d-flex">
                    @{
                        var monsterbar_selected_class = this.IsSwapSelected ? "monsterbar-selected" : string.Empty;
                        <img 
                            @onclick="() => this.OnSwapClicked(this.Monster.id)"
                            alt="Swap out"
                            class=@($"monsterbar_swap monsterbar-clickable {monsterbar_selected_class}")
                            src="../res/spells/swap.png"
                            data-toggle="tooltip" 
                            data-placement="left" 
                            title="Swap Out"
                        />
                    }
                </div>
            </div>
            <div class="d-flex flex-row">
                @{
                    // Note: not a property set in the OnInitialized because this.Monster may change
                    var moves = this.Monster.moveset
                        .Select(_move => new MoveComponentInfo(
                            Id: _move.id,
                            Name: CultureInfo.CurrentCulture.TextInfo.ToTitleCase(_move.move.name), 
                            Path: $"../res/spells/{_move.move.name.ToLower().Replace(' ', '_')}.png"))
                        .ToList();
                    @for (byte i = 0; i < 4; i++)
                    {
                        @if (i < moves.Count)
                        {
                            var index = i;
                            <img 
                                @onclick="() => this.OnMoveSelected(this.Monster.id, moves[index].Id)"
                                alt=@(moves[i].Name) 
                                class=@($"monsterbar_move monsterbar-clickable {(moves[i].Id == this.SelectedMoveId ? " monsterbar-selected" : "")}")
                                src=@(moves[i].Path)
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title=@(moves[i].Name)
                            />
                        }
                        else
                        {
                            <div class="monsterbar_move" />
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>