﻿.monsterbar {
    padding-right: 4px;
    padding-bottom: 4px;
    opacity: 0.9;
    background-color: black;
}

.monsterbar_healthbar {
    background-color: #111;
    margin-top: 4px;
    margin-left: 4px;
    width: 104px;
    height: 100%;
}

.monsterbar_experiencebar {
    background-color: #111;
    margin-top: 4px;
    margin-left: 4px;
    width: 104px;
    min-height: 5px;
}

.monsterbar_swap {
    margin-top: 4px;
    margin-left: 4px;
    height: 28px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #111;
}

.monsterbar_move {
    margin-top: 4px;
    margin-left: 4px;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #111;
}

.monsterbar-clickable {
    cursor: pointer;
}

.monsterbar-selected {
    border: 2px solid green;
}

.monsterbar_icon {
    margin-top: 4px;
    margin-left: 4px;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
