/* Battlefield */

.bf {
    background-color: black;
    width: 100%;
    height: 100%;
}

.bf_background {
    background-image: url("../res/battlefield_image2.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: var(--battlefieldwidth);
    height: var(--battlefieldheight);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Monsters bar / battlelog */

.bf_monsterbar {
    width: 100%;
    height: 80px;
    padding: 4px 4px 4px 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.bf_monsterbar_button {
    position: absolute;
    left: 720px;
    color: #eee;
    font-family: "Lucida Console", monospace;
    font-weight: 900;
    width: 72px;
    height: 72px;
    margin-left: 4px;
    opacity: 0.9;
    background-color: black;
    border: 0px;
}

.bf_monsterbar_battlelog {
    position: absolute;
    left: 440px;
    width: 352px;
    height: 72px;
    color: #eee;
    font-family: "Lucida Console", monospace;
    font-weight: 900;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 5px;
    opacity: 0.9;
    background-color: black;
    overflow-y: scroll;
    scrollbar-color: dimgray black;
    scrollbar-width: thin;
}

.bf_monsterbar_leftmonster {
    position: absolute;
}

.bf_monsterbar_rightmonster {
    position: absolute;
    left: 220px;
    margin-left: 4px;
}