@using shad.games.waterblue.front.components;
@using shad.games.waterblue.front.animations;

@namespace shad.games.waterblue.front.pages

@page "/"

<div>
    @* required animation loader that will run some hidden animations a first time *@
    <AnimationLoader />

    @* process event queue *@
    @if (!this.IsEventBeingProcessed && this.EventQueue.Any())
    {
        var _ = this.ProcessEvent();
    }

    <div class="bf">
        <div class="bf_background"
            @oncontextmenu:preventDefault="true"
            @oncontextmenu:stopPropagation="true"
            @oncontextmenu="() => Task.CompletedTask"
        >

            @if (this.OpponentFieldMonsters.ElementAtOrDefault(0) != null)
            {
                var field_monster_vm = this.OpponentFieldMonsters[0];
                var monster = field_monster_vm.Monster;
                var position = new BattlefieldPosition(Top: true, Left: true);
                var is_selectable = this.PendingMoveTargetSelection?.IsMonsterIdSelectableDict[monster!.Monster.id] == true;
                var is_unselectable = this.PendingMoveTargetSelection?.IsMonsterIdSelectableDict[monster!.Monster.id] == false;
                var monster_vm_init_value = field_monster_vm.GameStateUpdator == null 
                    ? field_monster_vm.Monster 
                    : null; // stays null to avoid unnecessary rendering once the sub-component's game state is properly handled by callbacks
                Action<BattleMonsterId> on_monster_selection = is_selectable
                    ? this.PendingMoveTargetSelection!.OnSelection 
                    : delegate(BattleMonsterId _) {};
                Action<Action<MonsterViewModel>> registration_hook = delegate(Action<MonsterViewModel> _updator) 
                { 
                    this.OpponentFieldMonsters[0] = new FieldMonsterOuterViewModel(
                        Monster: field_monster_vm.Monster, 
                        GameStateUpdator: _updator); 
                };
                <FieldMonster
                    BattlefieldPosition="position"
                    IsUnselectable="is_unselectable"
                    OnMonsterSelection="on_monster_selection"
                    MonsterViewModelInitialValue="monster_vm_init_value"
                    GameStateUpdatorRegistrationHook="registration_hook"
                />
            }
            @if (this.OpponentFieldMonsters.ElementAtOrDefault(1) != null)
            {
                var field_monster_vm = this.OpponentFieldMonsters[1];
                var monster = field_monster_vm.Monster;
                var position = new BattlefieldPosition(Top: true, Left: false);
                var is_selectable = this.PendingMoveTargetSelection?.IsMonsterIdSelectableDict[monster!.Monster.id] == true;
                var is_unselectable = this.PendingMoveTargetSelection?.IsMonsterIdSelectableDict[monster!.Monster.id] == false;
                var monster_vm_init_value = field_monster_vm.GameStateUpdator == null 
                    ? field_monster_vm.Monster 
                    : null; // stays null to avoid unnecessary rendering once the sub-component's game state is properly handled by callbacks
                Action<BattleMonsterId> on_monster_selection = is_selectable
                    ? this.PendingMoveTargetSelection!.OnSelection 
                    : delegate(BattleMonsterId _) {};
                Action<Action<MonsterViewModel>> registration_hook = delegate(Action<MonsterViewModel> _updator) 
                { 
                    this.OpponentFieldMonsters[1] = new FieldMonsterOuterViewModel(
                        Monster: field_monster_vm.Monster, 
                        GameStateUpdator: _updator); 
                };
                <FieldMonster
                    BattlefieldPosition="position"
                    IsUnselectable="is_unselectable"
                    OnMonsterSelection="on_monster_selection"
                    MonsterViewModelInitialValue="monster_vm_init_value"
                    GameStateUpdatorRegistrationHook="registration_hook"
                />
            }
            @if (this.CenterAnimation != null)
            {
                @CenterAnimation
            }

            @* The following components are placed above the middle-of-the-battlefield animations (i.e., bottom monster sprites) *@

            @if (this.PlayerFieldMonsters.ElementAtOrDefault(0) != null)
            {
                var field_monster_vm = this.PlayerFieldMonsters[0];
                var monster = field_monster_vm.Monster;
                var position = new BattlefieldPosition(Top: false, Left: true);
                var is_selectable = this.PendingMoveTargetSelection?.IsMonsterIdSelectableDict[monster!.Monster.id] == true;
                var is_unselectable = this.PendingMoveTargetSelection?.IsMonsterIdSelectableDict[monster!.Monster.id] == false;
                var monster_vm_init_value = field_monster_vm.GameStateUpdator == null 
                    ? field_monster_vm.Monster 
                    : null; // stays null to avoid unnecessary rendering once the sub-component's game state is properly handled by callbacks
                Action<BattleMonsterId> on_monster_selection = is_selectable 
                    ? this.PendingMoveTargetSelection!.OnSelection 
                    : delegate(BattleMonsterId _) {};
                Action<Action<MonsterViewModel>> registration_hook = delegate(Action<MonsterViewModel> _updator) 
                { 
                    this.PlayerFieldMonsters[0] = new FieldMonsterOuterViewModel(
                        Monster: field_monster_vm.Monster, 
                        GameStateUpdator: _updator); 
                };
                <FieldMonster 
                    BattlefieldPosition="position"
                    IsUnselectable="is_unselectable"
                    OnMonsterSelection="on_monster_selection"
                    MonsterViewModelInitialValue="monster_vm_init_value"
                    GameStateUpdatorRegistrationHook="registration_hook"
                />
            }
            @if (this.PlayerFieldMonsters.ElementAtOrDefault(1) != null)
            {
                var field_monster_vm = this.PlayerFieldMonsters[1];
                var monster = field_monster_vm.Monster;
                var position = new BattlefieldPosition(Top: false, Left: false);
                var is_selectable = this.PendingMoveTargetSelection?.IsMonsterIdSelectableDict[monster!.Monster.id] == true;
                var is_unselectable = this.PendingMoveTargetSelection?.IsMonsterIdSelectableDict[monster!.Monster.id] == false;
                var monster_vm_init_value = field_monster_vm.GameStateUpdator == null 
                    ? field_monster_vm.Monster 
                    : null; // stays null to avoid unnecessary rendering once the sub-component's game state is properly handled by callbacks
                Action<BattleMonsterId> on_monster_selection = is_selectable
                    ? this.PendingMoveTargetSelection!.OnSelection 
                    : delegate(BattleMonsterId _) {};
                Action<Action<MonsterViewModel>> registration_hook = delegate(Action<MonsterViewModel> _updator) 
                { 
                    this.PlayerFieldMonsters[1] = new FieldMonsterOuterViewModel(
                        Monster: field_monster_vm.Monster, 
                        GameStateUpdator: _updator); 
                };
                <FieldMonster
                    BattlefieldPosition="position"
                    IsUnselectable="is_unselectable"
                    OnMonsterSelection="on_monster_selection"
                    MonsterViewModelInitialValue="monster_vm_init_value"
                    GameStateUpdatorRegistrationHook="registration_hook"
                />
            }

            @foreach (var _animation in this.FullscreenAnimations ?? new List<RenderFragment>())
            {
                @_animation
            }

            @* The following components are placed above animations *@

            <SwapModal 
                Field="this.PlayerFieldMonsters.Select(_fieldmonstervm => _fieldmonstervm.Monster).ToList()"
                Party="this.PlayerPartyMonsters"
                IsVisible="this.RequiredSwapPendingSwapOutId != null || this.UserChoicePendingSwapOutId != null" 
                OnSwapOutSelection="this.OnSwapOutSelected"
            />

            <div class="bf_monsterbar">
                @if (this.PlayerFieldMonsters.ElementAtOrDefault(0) != null)
                {
                    var monster = this.PlayerFieldMonsters[0].Monster.Monster;
                    var selected_move_id = this.RegisteredMoveActions
                        .Select(_registrations => (BattleMoveId?) _registrations.move_id)
                        .FirstOrDefault(_registeredmoveid => monster.moveset
                            .Any(_move => _move.id == _registeredmoveid));
                    bool is_swap_selected = 
                        this.UserChoicePendingSwapOutId == monster.id 
                        || this.RegisteredSwapActions.Any(_swap => _swap.outgoing == monster.id);
                    <div class="bf_monsterbar_leftmonster">
                        <MonsterBar 
                            Monster="monster"
                            IsSwapSelected="is_swap_selected"
                            SelectedMoveId="selected_move_id"
                            OnMoveSelected="this.OnMoveSelected"
                            OnSwapClicked="this.OnSwapClicked"
                        />
                    </div>
                }

                @if (this.PlayerFieldMonsters.ElementAtOrDefault(1) != null)
                {
                    var monster = this.PlayerFieldMonsters[1].Monster.Monster;
                    var selected_move_id = this.RegisteredMoveActions
                        .Select(_registrations => (BattleMoveId?) _registrations.move_id)
                        .FirstOrDefault(_registeredmoveid => monster.moveset
                            .Any(_move => _move.id == _registeredmoveid));
                    bool is_swap_selected = 
                        this.UserChoicePendingSwapOutId == monster.id 
                        || this.RegisteredSwapActions.Any(_swap => _swap.outgoing == monster.id);
                    <div class="bf_monsterbar_rightmonster">
                        <MonsterBar 
                            Monster="monster"
                            IsSwapSelected="is_swap_selected"
                            SelectedMoveId="selected_move_id"
                            OnMoveSelected="this.OnMoveSelected"
                            OnSwapClicked="this.OnSwapClicked"
                        />
                    </div>
                }

                <div class="bf_monsterbar_battlelog">
                    @(this.BattleLogMessage)
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    :root {
        --battlefieldwidth: 800px;
        --battlefieldheight: 460px;

        --monsterbotleft_x: 130px;
        --monsterbotleft_y: 180px;

        --monsterbotright_x: 300px;
        --monsterbotright_y: 150px;

        --monstertopleft_x: calc(var(--battlefieldwidth) - var(--monsterbotright_x));
        --monstertopleft_y: 260px;

        --monstertopright_x: calc(var(--battlefieldwidth) - var(--monsterbotleft_x));
        --monstertopright_y: 230px;

        --rtor_angle: -10deg;
        --ltol_angle: --rtor_angle;
        --rtol_angle: -30deg;
        --ltor_angle: -5deg; 
    }

</style>