@code {
    
    // vertical slices of similar raindrops so that the 1sec animation cycle is not too visible
    private const byte slice_nb = 6;

    private const byte drop_nb_per_slice = 100;

    private const int x_from = -170;

    private const int x_to = 810;

    // animation slices will go from y = -480 to 480 (y translation of 480)
    private const int y_from = -490;

    private const int y_to = 490;

    private const int y_slice_size = (RainAnimation.y_to - RainAnimation.y_from) / RainAnimation.slice_nb; // y span: -480 to 480

    private readonly Random _rand = new Random();

}

<svg class="rainanimation-container">
    @* i slices of similar raindrops so that the 1sec animation cycle is not too visible *@
    @for (byte i = 0; i < RainAnimation.slice_nb; i++)
    {   // number of slices
        var y_slice_offset = RainAnimation.y_from + RainAnimation.y_slice_size * i;
        <svg class="rainanimation_layer" 
            y=@(y_slice_offset) height=@(RainAnimation.y_slice_size)
            x=@(RainAnimation.x_from) width=@($"{RainAnimation.x_to - RainAnimation.x_from}") >
        @* x=@(RainAnimation.x_from) width=@($"{RainAnimation.x_to - RainAnimation.x_from}")> *@
            @for (byte j = 0; j < RainAnimation.drop_nb_per_slice; j++)
            {
                var x = this._rand.Next(0, RainAnimation.x_to - RainAnimation.x_from);
                var y = this._rand.Next(0, RainAnimation.y_slice_size);
                <line 
                    x1=@($"{x}") 
                    y1=@($"{y}") 
                    x2=@($"{x + 5}")
                    y2=@($"{y + 15}") 
                    class="rainanimation_raindrop" 
                />
            }
        </svg>
    }
</svg>

<style>

    .rainanimation-container {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .rainanimation_raindrop {
        stroke: #fff;
        stroke-width: 1px;
        opacity: 0.4;
    }

    .rainanimation_layer {
        will-change: transform;
        animation: rainanimation_layer_kf 1s linear infinite;
    }

    @@keyframes rainanimation_layer_kf {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(160px, 480px);
        }
    }

</style>

@* Static *@

@code{

    public static RenderFragment Create()
    {
        return __builder => 
        {
            <RainAnimation />
        };
    }
}