@code {
    
    [Parameter]
    public BattlefieldPosition CasterPosition { get; set; } = new(Top: true, Left: true);

    [Parameter]
    public BattlefieldPosition TargetPosition { get; set; } = new(Top: true, Left: true);

    private (int x, int y) from = (0, 0);

    private (int x, int y) to = (0, 0);

    private RenderFragment? animate_x = null;
    
    private RenderFragment? animate_y = null; 

    protected override void OnInitialized()
    {
        (this.from, this.to) = ProjectileAnimationHelper.GetLineCoordinates(
            caster_position: this.CasterPosition, 
            target_position: this.TargetPosition);
        this.animate_x = __builder => { 
            <animate attributeName="cx" from=@(this.from.x) to=@(this.to.x) dur="1s" repeatCount="1" calcMode="spline" keySplines="0.995,0,0.675,0.185" /> 
        };
        this.animate_y = __builder => {
            <animate attributeName="cy" from=@(this.from.y) to=@(this.to.y) dur="1s" repeatCount="1" calcMode="spline" keySplines="0.995,0,0.675,0.185" />
        };
    }
}
<svg class="shadowballmoveanimation-container">

    <filter id="shadowball_filter_1">
        <feTurbulence baseFrequency="0.02" numOctaves="4" seed="1" />
        <feDisplacementMap in="SourceGraphic" scale="50" />
    </filter>
    <filter id="shadowball_filter_2">
        <feTurbulence baseFrequency="0.02" numOctaves="4" seed="2" />
        <feDisplacementMap in="SourceGraphic" scale="50" />
    </filter>
    <filter id="shadowball_filter_3">
        <feTurbulence baseFrequency="0.02" numOctaves="4" seed="3" />
        <feDisplacementMap in="SourceGraphic" scale="50" />
    </filter>
    <filter id="shadowball_filter_4">
        <feTurbulence baseFrequency="0.02" numOctaves="4" seed="4" />
        <feDisplacementMap in="SourceGraphic" scale="50" />
    </filter>
    <circle 
        cx="-100" cy="-100" r="20" 
        class="shadowballmoveanimation shadowballmoveanimation_arc-outer"
        fill-opacity="0" 
    >
        @(this.animate_x)
        @(this.animate_y)
    </circle>
    <circle 
        cx="-100" cy="-100" r="20" 
        class="shadowballmoveanimation shadowballmoveanimation_arc-inner" 
        fill-opacity="0" 
    >
        @(this.animate_x)
        @(this.animate_y)
    </circle>
    <circle 
        cx="-100" cy="-100" r="15" 
        class="shadowballmoveanimation shadowballmoveanimation_arc-outer"
        fill-opacity="0" 
    >
        @(this.animate_x)
        @(this.animate_y)
    </circle>
    <circle 
        cx="-100" cy="-100" r="15" 
        class="shadowballmoveanimation shadowballmoveanimation_arc-inner" 
        fill-opacity="0" 
    >
        @(this.animate_x)
        @(this.animate_y)
    </circle>
    <circle cx="-100" cy="-100" r="15">
        @(this.animate_x)
        @(this.animate_y)
    </circle>
</svg>

<style>

    .shadowballmoveanimation-container {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .shadowballmoveanimation_arc-inner {
        stroke: #000;
        stroke-width: 3px;
    }
    
    .shadowballmoveanimation_arc-outer {
        stroke: #909;
        stroke-width: 9px;
    }

    .shadowballmoveanimation {
        animation: shadowball 0.2s linear infinite;
    }

    @@keyframes shadowball {
        0% {
            filter: url(#shadowball_filter_1);
            filter: url(#shadowball_filter_2);
        }
        25% {
            filter: url(#shadowball_filter_3);
            filter: url(#shadowball_filter_4);
        }
        50% {
            filter: url(#shadowball_filter_1);
            filter: url(#shadowball_filter_2);
        }
        75% {
            filter: url(#shadowball_filter_3);
            filter: url(#shadowball_filter_4);
        }
        100% {
            filter: url(#shadowball_filter_1);
            filter: url(#shadowball_filter_2);
        }
    }

</style>

@* Static *@

@code {
    
    public static RenderFragment Create(
        BattlefieldPosition caster_position, 
        BattlefieldPosition target_position)
    {
        return __builder => 
        {
            <ShadowBallMoveAnimation CasterPosition="caster_position" TargetPosition="target_position" />
        };
    }

    public static AnimationInfo GetMoveAnimationInfo(
        BattlefieldPosition caster_position, 
        BattlefieldPosition target_position)
    {
        RenderFragment fragment = __builder => 
        {
            <ShadowBallMoveAnimation CasterPosition="caster_position" TargetPosition="target_position" />
        };
        return new AnimationInfo(
            WaitingTimeInMs: 2000, 
            CenterAnimation: fragment, 
            FullscreenAnimations: new List<RenderFragment>());
    }
}
