@code {
   
    [Parameter]
    public BattlefieldPosition TargetPosition { get; set; } = new(Top: true, Left: true);

    private int X { get; set; }

    private int Y { get; set; }

    protected override void OnInitialized()
    {
        this.X = this.TargetPosition switch {
            (Top: true, Left: true) => 520,
            (Top: true, Left: false) => 680,
            (Top: false, Left: true) => 150,
            (Top: false, Left: false) => 300,
        };
        this.Y = this.TargetPosition switch {
            (Top: true, Left: true) => 250,
            (Top: true, Left: false) => 280,
            (Top: false, Left: true) => 340,
            (Top: false, Left: false) => 360,
        };
    }
}

<div class="animation-container">
    <svg class="animation-container">
        <filter id="thunder_filter_1">
            <feTurbulence baseFrequency="0.03" numOctaves="2" seed="1" />
            <feDisplacementMap in="SourceGraphic" scale="20" />
        </filter>
        <filter id="thunder_filter_2">
            <feTurbulence baseFrequency="0.03" numOctaves="2" seed="2" />
            <feDisplacementMap in="SourceGraphic" scale="20" />
        </filter>
        <filter id="thunder_filter_3">
            <feTurbulence baseFrequency="0.03" numOctaves="2" seed="3" />
            <feDisplacementMap in="SourceGraphic" scale="20" />
        </filter>
        <filter id="thunder_filter_4">
            <feTurbulence baseFrequency="0.03" numOctaves="2" seed="5" />
            <feDisplacementMap in="SourceGraphic" scale="20" />
        </filter>
        <line 
            x1=@(this.X + 20) x2=@(this.X - 20)
            y1="-10" y2=@(this.Y + 30)
            filter="url(#thunder_filter_1)" 
            class="animation_move_thunder_arc-outer animation_move_thunder-1" 
        />
        <line 
            x1=@(this.X + 20) x2=@(this.X - 20)
            y1="-10" y2=@(this.Y + 30)
            filter="url(#thunder_filter_1)" 
            class="animation_move_thunder_arc-inner animation_move_thunder-1"
        />
        <line 
            x1=@(this.X + 30) x2=@(this.X - 10)
            y1="-10" y2=@(this.Y + 10)
            filter="url(#thunder_filter_2)" 
            class="animation_move_thunder_arc-outer animation_move_thunder-2"
        />
        <line
            x1=@(this.X + 30) x2=@(this.X - 10)
            y1="-10" y2=@(this.Y + 10)
            filter="url(#thunder_filter_2)" 
            class="animation_move_thunder_arc-inner animation_move_thunder-2"
        />
        <line 
            x1=@(this.X - 40) x2=@(this.X)
            y1="-10" y2=@(this.Y)
            filter="url(#thunder_filter_3)" 
            class="animation_move_thunder_arc-outer animation_move_thunder-3"
        />
        <line 
            x1=@(this.X - 40) x2=@(this.X)
            y1="-10" y2=@(this.Y)
            filter="url(#thunder_filter_3)" 
            class="animation_move_thunder_arc-inner animation_move_thunder-3"
        />
        <line 
            x1=@(this.X + 20) x2=@(this.X - 20)
            y1="-10" y2=@(this.Y + 20)
            filter="url(#thunder_filter_4)" 
            class="animation_move_thunder_arc-outer animation_move_thunder-4"
        />
        <line 
            x1=@(this.X + 20) x2=@(this.X - 20)
            y1="-10" y2=@(this.Y + 20)
            filter="url(#thunder_filter_4)" 
            class="animation_move_thunder_arc-inner animation_move_thunder-4"
        />
    </svg>
    <div class="animation-container animation_move_thunder-dark" />
</div>

<style>

    .animation-container {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .animation_move_thunder_arc-inner {
        stroke: #fff;
        stroke-width: 7px;
    }
    
    .animation_move_thunder_arc-outer {
        stroke: #099;
        stroke-width: 13px;
    }

    .animation_move_thunder-1 {
        opacity: 0;
        animation: kf_animation_move_thunder 0.1s steps(3, end) 2000ms 1;
    }

    .animation_move_thunder-2 {
        opacity: 0;
        animation: kf_animation_move_thunder 0.1s steps(3, end) 2700ms 1;
    }

    .animation_move_thunder-3 {
        opacity: 0;
        animation: kf_animation_move_thunder 0.1s steps(3, end) 3200ms 1;
    }

    .animation_move_thunder-4 {
        opacity: 0;
        animation: kf_animation_move_thunder 0.1s steps(3, end) 3400ms 1;
    }

    @@keyframes kf_animation_move_thunder {
        0%      { opacity: 0; }
        50%     { opacity: 1; }
        100%    { opacity: 0; }
    }

    .animation_move_thunder-dark {
        opacity: 0;
        background-color: black;
        animation:
            kf-animation_move_thunder-fade 5000ms ease-in-out 0ms 1,
            kf-animation_move_thunder-flash 200ms steps(3, end) 1900ms 1,
            kf-animation_move_thunder-flash 200ms steps(3, end) 2600ms 1,
            kf-animation_move_thunder-flash 200ms steps(3, end) 3100ms 1,
            kf-animation_move_thunder-flash 200ms steps(3, end) 3300ms 1;
    }

    @@keyframes kf-animation_move_thunder-fade {
        0%      { opacity: 0;   }
        20%     { opacity: 0.6; }
        80%     { opacity: 0.6; }
        100%    { opacity: 0  ; }
    }

    @@keyframes kf-animation_move_thunder-flash {
        0%      { opacity: 0.6; }
        50%     { opacity: 0;   }
        100%    { opacity: 0.6; }
    }

</style>

@* Static *@

@code {

    public static RenderFragment Create(
        BattlefieldPosition target_position)
    {
        return __builder => 
        {
            <ThunderMoveAnimation TargetPosition="target_position" />
        };
    }

    public static AnimationInfo GetMoveAnimationInfo(
        BattlefieldPosition target_position)
    {
        return new AnimationInfo(
            WaitingTimeInMs: 5000, 
            CenterAnimation: null, 
            FullscreenAnimations: new List<RenderFragment> 
            {
                RainAnimation.Create(), 
                ThunderMoveAnimation.Create(target_position),
            });
    }
}