@code {
    
    [Parameter]
    public BattlefieldPosition CasterPosition { get; set; } = new(Top: true, Left: true);

    [Parameter]
    public BattlefieldPosition TargetPosition { get; set; } = new(Top: true, Left: true);

    private (int x, int y) left_point = (0, 0);

    private (int x, int y) right_point = (0, 0);

    protected override void OnInitialized()
    {
        (this.left_point, this.right_point) = ProjectileAnimationHelper.GetLineCoordinates(
            caster_position: this.CasterPosition, 
            target_position: this.TargetPosition);
    }
}

<svg class="thundershockmoveanimation-container">

    <filter id="thundershock_filter_1">
        <feTurbulence baseFrequency="0.016" numOctaves="5" seed="1" />
        <feDisplacementMap in="SourceGraphic" scale="30" />
    </filter>
    <filter id="thundershock_filter_2">
        <feTurbulence baseFrequency="0.016" numOctaves="5" seed="2" />
        <feDisplacementMap in="SourceGraphic" scale="30" />
    </filter>
    <filter id="thundershock_filter_3">
        <feTurbulence baseFrequency="0.016" numOctaves="5" seed="3" />
        <feDisplacementMap in="SourceGraphic" scale="30" />
    </filter>
    <filter id="thundershock_filter_4">
        <feTurbulence baseFrequency="0.016" numOctaves="5" seed="4" />
        <feDisplacementMap in="SourceGraphic" scale="30" />
    </filter>
        @* <filter id="displacementFilter">
        <feTurbulence type="turbulence" baseFrequency="0.05" numOctaves="2" result="turbulence"/>
        <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="50" xChannelSelector="R" yChannelSelector="G"/>
    </filter> *@
    <line 
        x1=@(this.left_point.x) x2=@(this.right_point.x)
        y1=@(this.left_point.y) y2=@(this.right_point.y)
        class="thundershockmoveanimation thundershockmoveanimation_arc-outer" 
    />
        @* x1="300" y1="300" 
        x2="450" y2="220"  *@
    <line 
        x1=@(this.left_point.x) x2=@(this.right_point.x)
        y1=@(this.left_point.y) y2=@(this.right_point.y)
        class="thundershockmoveanimation thundershockmoveanimation_arc-inner" 
    />
        @* x1="300" y1="300" 
        x2="450" y2="220"  *@
</svg>

<style>

    .thundershockmoveanimation-container {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .thundershockmoveanimation_arc-inner {
        stroke: #fff;
        stroke-width: 3px;
    }
    
    .thundershockmoveanimation_arc-outer {
        stroke: #099;
        stroke-width: 9px;
    }

    .thundershockmoveanimation {
        animation: thundershock 0.2s linear infinite;
    }

    @@keyframes thundershock {
        0% {
            filter: url(#thundershock_filter_1);
        }
        25% {
            filter: url(#thundershock_filter_2);
        }
        50% {
            filter: url(#thundershock_filter_3);
        }
        75% {
            filter: url(#thundershock_filter_4);
        }
        100% {
            filter: url(#thundershock_filter_1);
        }
    }

</style>

@* Static *@
@code {
    
    public static RenderFragment Create(
        BattlefieldPosition caster_position, 
        BattlefieldPosition target_position)
    {
        return __builder => 
        {
            <ThundershockMoveAnimation CasterPosition="caster_position" TargetPosition="target_position" />
        };
    }

    public static AnimationInfo GetMoveAnimationInfo(
        BattlefieldPosition caster_position, 
        BattlefieldPosition target_position)
    {
        return new AnimationInfo(
            WaitingTimeInMs: 1000, 
            CenterAnimation: ThundershockMoveAnimation.Create(caster_position, target_position), 
            FullscreenAnimations: new List<RenderFragment>());
    }
}
