@namespace shad.games.waterblue.front.animations

@* This is a very, very ugly way to avoid having the first occurrence of the following animations' <animate/> tag do nothing *@
<div style="visibility: hidden;">
    @{
        var loading = new[] 
        {
            ThunderboltMoveAnimation.GetMoveAnimationInfo(new(Top: false, Left: false), new(Top: true, Left: true)),
            ShadowBallMoveAnimation.GetMoveAnimationInfo(new(Top: false, Left: false), new(Top: true, Left: true)),
        };
        @foreach (var element in loading)
        {
            @element.CenterAnimation
        }
    }
</div>