﻿@namespace shad.games.waterblue.front.components

@code {
    
    [Parameter]
    public MonsterViewModel Monster { get; set; } = new(Monster: default, IsFoe: default);

    private int Percent => (int)(((double)this.Monster.Monster.health / (double)this.Monster.Monster.monster.species.basestats.health) * 100);

}

<div class="progress hpbar_hp">
    <div class="bg-success progress-bar" style=@($"width: {this.Percent}%;") />
</div>

<style>

    .hpbar_hp {
        background-color: #111;
        border: 2px solid black;
        width: 150px;
        height: 15px;
    }
    
</style>