
.animationloader-swapout {
    filter: drop-shadow(0px 0px 2px rgba(255, 0, 0, 1));
    /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
    animation: animationloaderswapkf 0.5s ease-in 1 forwards;
}

.animationloader-swapin {
    transform: scale(1);
    filter: drop-shadow(0px 0px 2px rgba(255, 0, 0, 1));
    /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
    animation: animationloaderswapkf 0.5s ease-in 1 reverse forwards;
}

.animationloader-blink {
    animation: animationloader-blink-kf 0.5s steps(4, end) 1;
}

@keyframes animationloaderswapkf {
    from { transform: scale(1); }
    to   { transform: scale(0); }
}

@keyframes animationloader-blink-kf {
    0%      { opacity: 0.5; }
    33%     { opacity: 1; }
    66%     { opacity: 0.5; }
    100%    { opacity: 1; }
}