﻿@namespace shad.games.waterblue.front.components

<div class=@($"d-flex flex-column swapmodal {this.SwapModalHiddenClass}")>
    @foreach (var _monstervm in this.Field?.Where(_monstervm => _monstervm != null) ?? Enumerable.Empty<MonsterViewModel>())
    {
        <SwapModalEntry 
            Monster="_monstervm"
        />
    }
    @foreach (var _monstervm in this.Party?.Where(_monstervm => _monstervm != null) ?? Enumerable.Empty<MonsterViewModel>())
    {
        <SwapModalEntry 
            Monster="_monstervm"
            OnSwapOutSelection="this.OnSwapOutSelection"
        />
    }
</div>
